body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Header Section */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 11%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 75px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
}

.intro {
    display: flex;
    margin-bottom: 75px;
}

.introcontent {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-right: 15px;
    gap: 10px;
}

.introimg {
    width: 425px;
    height: auto;

}

button {
    padding: 7px 14px;
    width: 90px;
    border-radius: 10px;
}

button.noborder {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

/* Section 1 */

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    margin: 45px;
    padding: 0 13%;
}

.container {
    display: flex;
    padding: 0 150px;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    color: #1f2937;
    margin-bottom: 75px;
}

.infoimg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #3882f6;
}

/* Section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    flex: 1;
    padding: 100px 16%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    justify-content: center;
    color: #1f2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 500;
    color: #1f2937;
}