body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Header Section */

.header {
    background-color:midnightblue;
    padding: 0 150px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 75px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
}

.intro {
    display: flex;
    margin-bottom: 75px;
}

.introcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    gap: 10px;
}

.introimg {
    width: 50%;
    height: auto;
}

button {
    padding: 7px 14px;
    width: 90px;
    border-radius: 8px;
}

button.noborder {
    background: chocolate;
    border: 0;
    color: white;
}

/* Section 1 */

.information {
    font-size: 36px;
    color: midnightblue;
    font-weight: 800;
    margin: 40px 0px;
    text-align: center;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    color: midnightblue;
    margin-bottom: 75px;
}

.infoimg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 4px solid chocolate;
}

.text {
    margin-top: 3px;
}

/* Section 2 */

.section2 {
    background-color: #e5e7eb;
    padding: 75px 250px;
    color: midnightblue;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 500;
}

/* Section 3 */

.section3 {
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    margin: 75px 150px;
    border-radius: 8px;
    padding: 30px 90px;
    color: #f9faf8;
}

.action {
    font-weight: 900;
    font-size: 18px;
}

button.border {
    background: chocolate;
    border: 1px solid white;
    color: white;
}

/* Footer */

.footer {
    text-align: center;
    background-color: midnightblue;
    color: #f9faf8;
    padding: 30px;
}